@model practica4.Models.Song

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <h1>Detalles</h1>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Música</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">Track</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Title)</dd>
                <dt class="col-sm-2">Duración</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Duration)</dd>
                <dt class="col-sm-2">Album</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Album.Title)</dd>
            </dl>
        </div>
    </div>

    <div class="mt-3">
        <a asp-action="Edit" asp-route-id="@Model.SongId" class="btn btn-primary">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Regresar</a>
    </div>
</div>
