@model practica4.Models.Artist

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <h1>Detalles</h1>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Información</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">Nombre</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>
            </dl>
            <div class="text-center mt-4">
                <img src="@Model.Photo" alt="Artist" class="img-thumbnail" style="max-width: 200px;" />
            </div>
        </div>
    </div>

    <div class="mt-4">
        <a asp-action="Edit" asp-route-id="@Model?.ArtistId" class="btn btn-primary">Editar</a>
        <a asp-action="Index" class="btn btn-secondary ml-2">Regresar</a>
    </div>
</div>

