@model practica4.Models.Artist

@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Editar Artista</h4>
                    <hr />
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="ArtistId" />
                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Nombre</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Photo" class="control-label">Foto</label>
                            <input asp-for="Photo" class="form-control" />
                            <span asp-validation-for="Photo" class="text-danger"></span>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                            <a asp-action="Index" class="btn btn-secondary ml-2">Regresar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


